<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>aa</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui@2.4.11/lib/index.js"></script>
</head>
<body>
<div id="app">
    <el-container class="box">
        <el-header>
            <el-menu
                    :default-active="activeIndex2"
                    class="el-menu-demo"
                    mode="horizontal"
                    @select="handleSelect"
                    background-color="#00bbbd"
                    text-color="#DCECE6"
                    active-text-color="#3A4040">

                <el-menu-item index="1">处理中心</el-menu-item>
                <el-menu-item index="2">我的工作台</el-menu-item>
                <el-menu-item index="3">订单管理</el-menu-item>
            </el-menu>
        </el-header>
        <el-container>
            <el-aside width="180px">
                <el-menu
                        default-active="1"
                        class="el-menu-vertical-demo"
                        @open="handleOpen"
                        @close="handleClose"
                        background-color="#3A4040"
                        text-color="#DCECE6"
                        active-text-color="#00bbbd">
                    <el-submenu index="1">
                        <template slot="title">
                            <i class="el-icon-mobile-phone"></i>
                            <span>系统维护</span>
                        </template>
                        <el-menu-item-group>
                            <el-menu-item index="1-1"> <i class="el-icon-edit"></i>
                                <span>资源维护</span></el-menu-item>
                            <el-menu-item index="1-2"><i class="el-icon-star-off"></i>
                                <span>业务领域维护</span></el-menu-item>
                            <el-menu-item index="1-3"><i class="el-icon-view"></i>
                                <span>组织机构管理</span></el-menu-item>
                            <el-menu-item index="1-4"><i class="el-icon-location-outline"></i>
                                <span>角色信息管理</span></el-menu-item>
                            <el-menu-item index="1-5"><i class="el-icon-star-off"></i>
                                <span>用户信息管理</span></el-menu-item>
                        </el-menu-item-group>
                    </el-submenu>
                    <el-menu-item index="2">
                        <i class="el-icon-setting"></i>
                        <span slot="title">系统日志</span>
                    </el-menu-item>
                </el-menu>
            </el-aside>
            <el-main>
                <div class="text">
                    <div>用户信息管理</div>
                    <div class="text_d">系统维护 / 用户信息管理</div>
                </div>
                <div class="main_cent">
                    <el-container style="height: 555px;border: 1px solid #E7E7E7 ">
                        <el-aside width="190px"
                                  style="background-color: #E7E7E7;border-right: 3px solid #f2fff0;padding: 15px">
                            <el-tree :data="data" :props="defaultProps" style="background-color:#E7E7E7"
                                     @node-click="handleNodeClick"></el-tree>
                        </el-aside>
                        <el-main style="background-color: rgb(250,255,255);">
                            <div class="top">
                                <el-form :inline="true" :model="formInline" class="demo-form-inline" >
                                    <el-form-item label="用户姓名：">
                                        <el-input v-model="formInline.username" placeholder="请输入用户名"></el-input>
                                    </el-form-item>
                                    <el-form-item>
                                        <el-button  @click="search1" type="primary" icon="el-icon-search" plain></el-button>
                                        <el-button  type="primary" icon="el-icon-refresh" plain></el-button>
                                    </el-form-item>
                                </el-form>
                                <div>
                                    <el-button @click="charu" type="primary" plain>新增</el-button>
                                    <!--<el-button @click="xiugai" type="primary" plain>编辑</el-button>-->
                                    <el-button @click="del" type="primary" plain>删除</el-button>
                                </div>
                            </div>
                            <el-table
                                    ref="multipleTable"
                                    :data="users"
                                    stripe
                                    border
                                    tooltip-effect="dark"
                                    style="width: 100%"
                                    @selection-change="handleSelectionChange">
                                <el-table-column
                                        prop="id"
                                        width="50">
                                </el-table-column>
                                <el-table-column
                                        type="selection"
                                        width="55">
                                </el-table-column>
                                <el-table-column
                                        prop="number"
                                        label="账号"
                                        width="120">
                                </el-table-column>
                                <el-table-column
                                        prop="username"
                                        label="用户姓名"
                                        width="120">
                                </el-table-column>
                                <el-table-column
                                        prop="phone"
                                        label="手机号"
                                        width="150">
                                </el-table-column>
                                <el-table-column
                                        prop="establish"
                                        label="创建用户"
                                        width="150">
                                </el-table-column>
                                <el-table-column
                                        prop="mechanism"
                                        label="组织机构"
                                        width="180">
                                </el-table-column>
                                <el-table-column
                                        prop="role"
                                        label="角色名称"
                                        show-overflow-tooltip>
                                </el-table-column>
                                <el-table-column
                                        label=操作
                                >
                                    <template slot-scope="scope">
                                        <el-button @click="xiugai(scope)" type="text" size="small">修改</el-button>
                                        <el-button @click="del(scope)" type="text" size="small">删除</el-button>
                                    </template>
                                </el-table-column>
                            </el-table>
                        </el-main>
                    </el-container>
                </div>
            </el-main>
        </el-container>
    </el-container>
</div>
</body>
<script>
    var vm = new Vue({
        el: "#app",
        data() {
            return {
                activeIndex: '1',
                activeIndex2: '1',
                rowData: [],
                type: '',
                search: '',
                username: '',
                dialogVisible: false,
                users: [],
                formInline: {
                    username: '',
                },
                formLabelAlign: {
                    id: '',
                    number: '',
                    username: '',
                    phone: '',
                    establish: '',
                    mechanism: '',
                    role: ''
                },
                multipleSelection: [],
                data: [{
                    label: '朱烨有限责任公司',
                    children: [{
                        label: '超厉害队',
                        children: [{
                            label: '一组'
                        }, {
                            label: '二组'
                        }]
                    }, {
                        label: '超漂亮队',
                        children: [{
                            label: '三组'
                        }]
                    }]
                }],
                defaultProps: {
                    children: 'children',
                    label: 'label'
                }
            };
        },
        mounted: function () {
            this.getList()
        },
        methods: {
            getList() {
                let that = this;
                $.get('getDetail', {}, function (data) {
                    console.log(data);
                    if (data.success) {
                        that.users = data.users
                    }
                })
            },
            del(val) {
                console.log(val.row.id);
                let id = val.row.id;
                let that = this;
                $.get('delete', {id: id}, function (data) {
                    console.log(data);
                    if (data == '删除成功') {
                        that.getList()
                    }
                })

            },
            charu() {
                this.type = 'add'
                this.dialogVisible = true
            },
            handleClose() {
                this.dialogVisible = false
                this.formLabelAlign = {},
                    this.type = ''
            },
            cr() {
                let that = this
                $.get('insert', this.formLabelAlign, function (data) {
                    console.log(data)
                    that.dialogVisible = false
                    that.getList()

                })
            },
            xiugai(val) {
                this.type = 'edit';
                this.rowData = val.row;
                this.formLabelAlign = this.rowData;
                this.dialogVisible = true
            },
            xg() {
                let that = this;
                console.log(this.formLabelAlign);
                $.get('update', this.formLabelAlign, function (data) {
                    console.log(data);
                    if (data == '修改成功') {
                        that.dialogVisible = false;
                        that.getList()
                    }
                })
            },
            search1() {
                let that = this;
                $.get('ListUserByusername', this.formInline, function (data) {
                    console.log(data);
                    that.users = data

                })
            },
            handleOpen(key, keyPath) {
                console.log(key, keyPath);
            },
            handleClose(key, keyPath) {
                console.log(key, keyPath);
            },
            handleSelect(key, keyPath) {
                console.log(key, keyPath);
            },
            handleNodeClick(data) {
                console.log(data);
            },
            handleSelectionChange(row) {
                console.log(row)

            }
        }

    })
</script>
<style>

    .el-header {
        background-color: #00bbbd;
        color: #333;
        padding: 0;

    }

    .el-aside {
        background-color: #3A4040;
        color: #333;
        width: 130px;
    }

    .el-main {
        background-color: #E9EEF3;
        color: #333;
        padding: 0;



    }
    .text{
        margin-left: 20px;
        margin-top: 15px;
        font-size: 18px;
        width:1340px;
        border-bottom: 1px  solid #bebebe;
        padding-bottom: 20px;

    }
    .text_d{
        font-size: 15px;
        margin-top: 10px;
    }

    .top{
        padding-top: 20px;
        padding-left: 45px;
        text-align: left;
        padding-bottom: 20px;
    }
    .el-input__inner{
        height: 30px;
    }
    .el-form-item__label{
        font-size: 14px;
    }
    .el-button{
        padding: 8px 14px;
    }
    .el-header .el-menu {
        padding-left: 180px;

    }

    .el-menu-item-group__title {
        padding: 0px;
    }

    .el-submenu__title {
        border-bottom: 1px solid #faffff;
    }

    .el-submenu .el-menu-item {
        border-bottom: 1px solid #ebebeb;
    }

    .el-icon-arrow-down:before {
        content: " ";
    }

    .main_cent {
        width: 98%;
        background: #bebebe;
        position: relative;
        top: 10px;
        left: 20px;


    }
  .box{
      height: 735px;
  }
</style>
</html>
